<?php

define("data", __DIR__."/data");
define("storage", data."/storage");
define("logs", data."/logs");
define("fb_data", __DIR__.'/fb_data');

$config = array(
    'name'    =>    'Ammar Kazuhiko Kanazawa',
    'user'    =>    'ammarfaizi93',
    'email'   =>    'ammarfaizi93@gmail.com',
    'pass'    =>    'password',
    'token'   =>    ''
);
