<?php
/**
*
*		Baca sebelum setting akun 
*
* user diisi username bot fb (bisa diisi terserah dengan karakter a-zA-Z0-9_.)
* name diisi nama bot fb (perhatikan huruf besar kecil, harus sama persis)
*		email diisi email bot fb (buat login)
*		pass diisi password bot fb (buat login)
*
* 
*/
$cf = array(
'user'=>'ammarfaizi93',
'name'=>'Ammar Kazuhiko Kanawaza',
'email'=>'ammarfaizi93@gmail.com',
'pass'=>'password123',







// system setting
'timezone'=>'Asia/Jakarta',
'cycle'=>5,
'memory_limit'=>'4G',
'max_execution_time'=>false,
'display_errors'=>true,
'ignore_usrabrt'=>true















);